# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/

# Données utilisateur
music.db
downloads/
covers/
cookies.txt

# Logs
*.log

# Environnement
.env

# Build PyInstaller + Electron
dist/
build/
*.spec
*.nsi
*.blockmap

# Android (Capacitor)
android/app/build/
www/

# OS
Thumbs.db
Desktop.ini
.DS_Store
.claude/
